.calculator-container {
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
}

.calculator-title {
  color: var(--text-color);
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 500;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--border-color);
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
}

.calculator-form {
  max-width: 900px;
  width: 90%;
  margin: 0 auto 2rem !important;
  padding: 2rem 1.5rem;
  border-radius: 8px;
  background-color: var(--background-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator-form .form-label {
  color: var(--text-color);
  display: block;
  margin: 0;
  font-size: 1.1rem;
  min-width: 70px;
}

.calculator-form .form-control {
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding: 0.5rem;
  font-size: 1rem;
}

.calculator-form .measurement-input {
  height: 42px;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
  color: var(--text-color) !important;
  background-color: var(--background-color) !important;
}

.calculator-form .measurement-input::placeholder {
  color: var(--text-color) !important;
  opacity: 0.7;
  font-weight: 400;
}

.calculator-form .form-control:focus {
  background-color: var(--background-color);
  color: var(--text-color);
  border-color: var(--primary);
  box-shadow: 0 0 0 0.2rem rgba(var(--primary-rgb), 0.25);
}

.calculator-form .alert {
  background-color: var(--dropdown-bg);
  border-color: var(--border-color);
  color: var(--text-color);
  margin: 2rem 0.5rem 1.5rem;
  padding: 1.25rem;
  border-radius: 8px;
}

.calculator-form .calculate-button {
  width: calc(100% - 1rem);
  padding: 0.75rem;
  font-size: 1.1rem;
  margin: 1rem 0.5rem 0;
  display: block;
}

.calculator-form .btn-group {
  background-color: var(--background-color);
  margin-left: 1rem;
}

.calculator-form .btn-group .btn {
  min-width: 45px;
  font-size: 0.9rem;
  padding: 0.25rem 0.5rem;
}

.calculator-form .btn-outline-primary {
  border-color: var(--primary);
  color: var(--primary);
}

.calculator-form .btn-outline-primary:hover {
  background-color: var(--primary);
  border-color: var(--primary);
}

.calculator-form .btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
}

.calculator-form .btn-primary:hover {
  background-color: var(--primary-dark);
  border-color: var(--primary-dark);
}

.calculator-form .unit-toggle {
  margin-left: 10px;
}
